*{font-family: Arial, Helvetica, sans-serif;}

header, footer {
    background-color: #eee;
    padding: 5px;
    min-height: 60px;
}

header .images, .list-group {
    height: 50px;
    margin-right: 10px;
}

.img-johny{
    background-image: url(../img/violino05.jpg);
    background-size: cover;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-repeat: no-repeat;

}

.imges{
    background-image: url(../img/violino24.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.images-header{
    background-image: url(../img/do-utilizador.png);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}

.maria{
    background-image: url(../img/70664179_1553291444826218_3681785212783538333_n.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}

.img-erika{
    background-image: url(../img/185324669_1013497929258047_1342348068745736494_n.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}
.images-joao{
    background-image: url(../img/violino07.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}
.images-edivaldo{
    background-image: url(../img/violino08.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}
.images-mae{
    background-image: url(../img/violino09.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}
.images-irma{
    background-image: url(../img/violino10.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}
.images-grupo{
    background-image: url(../img/violino19.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}
.images-grupo01{
    background-image: url(../img/violino18.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}
.images-grupoEstacionamento{
    background-image: url(../img/violino17.jpg);
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}


header .images a{
    margin-left: 16px;
}

main{
    background-color: #e5ddd5;
    min-height: calc(100vh - 121px);
}

header{
    border-bottom: #dbdbdb;
}

h6{
    margin: 0;
}

.timeago{
    color: #999;
    font-size: .8em;
}

.badge-success{
    background-color: #09d261;
}

#search{
    background-color: #f8f8f8;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search input{
    
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
}

#small{
    margin-left: 10px;
    padding: 10px;
    border: none;
}
#panel-left{
    border-right: #dedede 1px solid;
    color: #dedede;
}

#panel-left small{
    color: #9b9b9b;
}

.list-group{
    overflow-y: scroll;
    border-left: none;
    border-right: none;
    border-color: #f8f8f8;
    height: 85vh;
  
}

.list-group-item:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}